@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

header {
  height: 8%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 10%);
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

nav > img {
  height: 35%;
  margin-left: 2%;
}
