@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

header {
  height: 8vh;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 10%);
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

nav > img {
  height: 35%;
  margin-left: 2%;
}

.hero-section {
  height: 70vh;
  align-self: center;
  margin: 30px;
}

.hero-section > img {
  height: 70%;
}

.hero-section > h1 {
  margin-top: 20px;
  font-size: 36px;
  line-height: 1.1em;
  padding-top: 15px;
}

.hero-section > p {
  color: #222222;
  padding-top: 15px;
  line-height: 1.1rem;
  width: 320px;
}

.cards {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 70px;

  padding-bottom: 20px;
  overflow: scroll;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  position: relative;
}

.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star{
  height: 14px;
}

@media(max-width: 650px) {
  .hero-section > img {
    aspect-ratio: 1/1;
  }
  .cards {
    justify-content: flex-start;
  }
}
